<p id="notice"><%= notice %></p>

<h1>Welcome to PawClinic</h1>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @pet_owner %>
        <%= @pet_owner.username %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <strong>Email:</strong>
  <%= @pet_owner.email %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @pet_owner.pet %>
</p>

<%= link_to 'Edit', edit_pet_owner_path(@pet_owner) %> |
<%= link_to 'Back', pet_owners_path %>
<%= link_to 'ask questions', new_question_path(:pet_owner_id => @pet_owner, :category => @pet_owner.pet)%>
