<h1>Welcome experts</h1>
	<thead>
    <tr>
      <th><%= link_to 'Sign up', new_expert_path %></th>
      <th><%= link_to 'Sign in', @experts.first%></th>
    </tr>
  </thead>
 	
<!--<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Level</th>
      <th>Question answered</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @experts.each do |expert| %>
      <tr>
        <td><%= expert.username %></td>
        <td><%= expert.level %></td>
        <td><%= expert.question_answered %></td>
        <td><%= expert.email %></td>
        <td><%= link_to 'Show', expert %></td>
        <td><%= link_to 'Edit', edit_expert_path(expert) %></td>
        <td><%= link_to 'Destroy', expert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expert', new_expert_path %>
-->
