<p id="notice"><%= notice %></p>
<h1>Welcome to PawClinic Expert</h1>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @expert %>
        <%= @expert.username %>
      </h1>
    </section>
  </aside>
</div>
<p>
  <strong>Username:</strong>
  <%= @expert.username %>
</p>

<p>
  <strong>Level:</strong>
  <%= @expert.level %>
</p>

<p>
  <strong>Question answered:</strong>
  <%= @expert.question_answered %>
</p>

<p>
  <strong>Email:</strong>
  <%= @expert.email %>
</p>

<%= link_to 'Edit', edit_expert_path(@expert) %> |
<%= link_to 'Back', experts_path %>
<%= link_to 'answer questions', questions_path%>
